:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-400: #78909c;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center;
    min-width: 22.5rem;
}


/* header part */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111111;
    color: #fff;
    padding: 3rem;
    padding-bottom: 0;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5rem;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}

.logo-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 17.5rem;
    min-width: 17.5rem;
}

.logo-header>h1 {
    width: 70%;
}

.logo-header>img {
    width: 30%;
}

.navigation {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navigation :first-child,
.navigation :nth-child(2) {
    margin-right: 2rem;
}


/* Hpmepage main part */
/* the first section */
.home section:nth-of-type(1) {
    background-color: var(--blue-grey-50);
    padding: 4rem 2rem;
    color: #000;
}

.home section:nth-of-type(1) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.home section:nth-of-type(1) p {
    margin-bottom: 2rem;
    font-size: medium;
}

.home section:nth-of-type(1) button {
    background-color: #111111;
    color: var(--blue-grey-50);
    height: 3.5rem;
    width: 6.5rem;
    border-radius: 6px;
    border: 0;
    padding: 1rem;
    margin-bottom: 3rem;
}

.home section:nth-of-type(1) img {
    border-radius: 0.5rem;
}

/* the second section */
.home section:nth-of-type(2) {
    background-color: #fff;
    color: #000;
    padding: 4rem 2rem;
}

.home section:nth-of-type(2) h2::before {
    content: "*";
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home section:nth-of-type(2) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.home section:nth-of-type(2) p {
    font-size: medium;
}

.home section:nth-of-type(2) p:nth-of-type(1) {
    margin-bottom: 4rem;
}

.home section:nth-of-type(2) h3::before {
    content: "*";
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.home section:nth-of-type(2) h3 {
    margin-bottom: 1rem;
}

/* the third section */
.home section:nth-of-type(3) {
    background-color: #78909c;
    color: white;
    padding: 4rem 2rem;
}

.home section:nth-of-type(3) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

.home section:nth-of-type(3) p:nth-of-type(1) {
    font-size: medium;
    margin-bottom: 1rem;
}

.home section:nth-of-type(3) p:nth-of-type(2) {
    font-size: medium;
    color: var(--blue-grey-50);
}

/* the fourth section */
.home section:nth-of-type(4) {
    background-color: var(--blue-grey-100);
    color: #000;
    padding: 4rem 2rem;
}

.home section:nth-of-type(4) h2::before {
    content: "*";
    display: block;
    text-align: center;
    font-size: 3rem;
}

.home section:nth-of-type(4) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.home section:nth-of-type(4) p {
    font-size: medium;
}

.home section:nth-of-type(4) p:nth-of-type(1) {
    margin-bottom: 3rem;
}

.home section:nth-of-type(4) h3::before {
    content: "*";
    display: block;
    text-align: left;
    font-size: 3rem;
}

.home section:nth-of-type(4) h3,
.home section:nth-of-type(4) ul {
    text-align: left;
}

.home section:nth-of-type(4) ul {
    padding-left: 1.5rem;
}

.home section:nth-of-type(4) li:nth-of-type(1),
.home section:nth-of-type(4) li:nth-of-type(2) {
    margin-bottom: 1rem;
}

.home section:nth-of-type(4) img {
    border-radius: 0.5rem;
    margin-top: 3rem;
}

.home section:nth-of-type(4) img:nth-of-type(1) {
    margin-bottom: 3rem;
}

/* the fifth section */
.home section:nth-of-type(5) {
    background-color: var(--blue-grey-800);
    padding: 4rem 2rem;
    color: #000;
}

.home section:nth-of-type(5) div {
    background-color: white;
    padding: 4rem 1rem;
    border-radius: 0.5rem;
}

.home section:nth-of-type(5) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.home section:nth-of-type(5) p {
    font-size: large;
    margin-bottom: 2rem;
}

.home section:nth-of-type(5) button {
    border-radius: 6px;
    background-color: #111111;
    color: #ededed;
    padding: 1rem;
    width: 5.5rem;
    height: 3.5rem;
}


/* Gallery page main part */
/* the first section */
.gallery section:nth-of-type(1) {
    background-color: var(--blue-grey-50);
    padding: 4rem 2rem;
}

.gallery section:nth-of-type(1) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

.art-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.art-gallery-container img {
    display: block;
    margin: 0 auto;
}

.creativity-flexbox img {
    margin-bottom: 4rem;
}

.creativity-text-container h3 {
    margin-bottom: 2rem;
}

.creativity-text-container p {
    margin-bottom: 2rem;
}

.functionality-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.functionality-img-container img {
    margin-bottom: 1rem;
}

.functionality-img-container p {
    margin-bottom: 2rem;
}

.functionality-text-container h3 {
    margin-bottom: 2rem;
}

/* the second section */
.gallery section:nth-of-type(2) {
    padding: 4rem 2rem;
}

.gallery section:nth-of-type(2) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: normal;
}

/* the third section */
.gallery section:nth-of-type(3) {
    background-color: var(--blue-grey-400);
    color: #fff;
    text-align: left;
    padding: 4rem 2rem;
}

.gallery section:nth-of-type(3) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: normal;
}

.gallery section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* the fourth section */
.gallery section:nth-of-type(4) {
    background-color: var(--blue-grey-800);
    color: #fff;
    text-align: left;
    padding: 4rem 2rem;
}

.gallery section:nth-of-type(4) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 3rem;
}

.features-flexbox img {
    display: block;
    margin: 0 auto;
}

.gallery section:nth-of-type(4) ul {
    padding-left: 1rem;
}

.gallery section:nth-of-type(4) ul li {
    margin-bottom: 1rem;
    font-size: medium;
}

.gallery section:nth-of-type(4) ul li:last-child {
    margin-bottom: 2rem;
}

.features-img-container img {
    margin-bottom: 1rem;
}

.features-img-container p {
    color: #ededed;
}

/* footer part */
footer {
    background-color: #191919;
    color: #fff;
    padding: 4rem 2rem;
}

.footer-container {
    max-width: 19.3rem;
    margin: 0 auto;
}

.logo-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    max-width: 19.3rem;
    min-width: 19.3rem;
    margin: 0 auto;
}

.logo-footer>h1 {
    width: 65%;
}

.logo-footer>img {
    height: 4.2rem;
}

.logo-footer>p {
    text-align: left;
    margin-top: 1.5rem;
}

footer section {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 3rem 0;
}

footer h4 {
    margin-bottom: 0.75rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: small;
}

footer li {
    margin-bottom: 0.75rem;
}

footer p {
    font-size: small;
    color: var(--blue-grey-200);
}

/* Medium view */
@media screen and (min-width:45rem) {

    /* header part */
    header {
        padding: 3rem 2rem;
    }

    .logo-header {
        width: 40%;
        max-width: 21.5rem;
        min-width: 21.5rem;
    }

    .logo-header h1 {
        width: 55%;
    }

    .navigation {
        width: 40%;
        text-align: right;
    }

    /* homepage main part */
    /* the first section */

    /* the second section */
    .passion-section-flexbox {
        display: flex;
        flex-wrap: wrap;
    }

    .passion-section-flexbox div {
        width: 50%;
    }

    /* the third section */

    /* the fourth section */
    .residential-flexbox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .residential-container {
        width: 48%;
    }

    .home section:nth-of-type(4) img {
        width: 48%;
    }

    .commercial-flexbox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .commercial-container {
        width: 48%;
        order: 1;
    }

    /* the fifth section */
    .home section:nth-of-type(5) {
        padding: 4rem 10rem;
    }


    /* gallery page main part */
    /* the first section */
    .art-gallery-container {
        flex-direction: column;
        gap:3rem;
    }

    .art-gallery-container img {
        margin: 0;
    }

    .creativity-flexbox {
        width: 100%;
        display: flex;
        gap:1.5rem;
    }

    .creativity-flexbox img {
        width: 50%;
    }

    .creativity-text-container {
        width: 50%;
    }

    .functionality-flexbox{
        width: 100%;
        display: flex;
        gap:1.5rem;
    }

    .functionality-img-container {
        width: 50%;
        order: 1;
    }

    .functionality-text-container {
        width: 50%;
    }

    /* the second section */

    /* the third section */
    .gallery section:nth-of-type(3) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallery section:nth-of-type(3) h2{
        width: 100%;
        text-align: center;
    }

    .gallery section:nth-of-type(3) p{
        width: 48%;
    }

    .gallery section:nth-of-type(3) p:nth-of-type(2){
        order: 2;
    }

    .gallery section:nth-of-type(3) p:nth-of-type(3){
        order: 1;
    }

    .gallery section:nth-of-type(3) p:nth-of-type(4){
        order:3;
    }

    /* the fourth section */
    .gallery section:nth-of-type(4) h2{
        text-align: center;
    }

    .features-flexbox{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .gallery section:nth-of-type(4) ul{
        margin: 0;
    }

    .features-flexbox ul li:nth-of-type(4){
        display: none;
    }

    .features-img-container{
        width: 48%;
    }

    /* footer part */
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .logo-footer {
        width: 50%;
        max-width: 21rem;
        min-width: 21rem;
        margin-right: 2.5rem;
    }

    footer section {
        width: 50%;
        gap: 1.5rem;
    }

    footer>p {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}


/* Large view */
@media screen and (min-width:60rem) {
    body {
        /* limitation for largest layout */
        max-width: 90rem;
        margin: 0 auto;
    }

    /* header part */
    header {
        padding:0;
        padding:3rem 13rem;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .logo-header {
        width: 40%;
        max-width: 18.5rem;
        min-width: 18.5rem;
    }

    .logo-header h1 {
        width: 70%;
    }

    .navigation {
        width: 40%;
        text-wrap: nowrap;
        text-align: right;
    }

    /* homepage main part */
    /* the first section */
    .home section:nth-of-type(1) h2,
    .home section:nth-of-type(1) p {
        padding-left: 11rem;
        padding-right: 11rem;
    }

    /* the second section */
    .home section:nth-of-type(2) {
        padding-left: 13rem;
        padding-right: 13rem;
    }

    .passion-section-flexbox div {
        width: 33%;
    }

    /* the third section */
    .home section:nth-of-type(3) {
        padding-left: 13rem;
        padding-right: 13rem;
    }

    /* the fourth section */
    .home section:nth-of-type(4) {
        padding-left: 13rem;
        padding-right: 13rem;
    }

    .redesigned-container {
        display: flex;
        gap: 1.5rem;
        align-content: space-between;
    }

    .residential-flexbox {
        width: 50%;
    }

    .residential-container {
        width: 100%;
    }

    .home section:nth-of-type(4) img {
        width: 100%;
    }

    .commercial-flexbox {
        width: 50%;
        align-content: space-between;
    }

    .commercial-container {
        width: 100%;
        order: 0;
    }

    /* the fifth section */
    .home section:nth-of-type(5) {
        padding: 4rem 24rem;
        display: flex;
        justify-content: center;
    }

    .home section:nth-of-type(5) div {
        min-width: 42rem;
        margin: 0 auto;
    }


    /* gallery page main part */
    /* the first section */
    .gallery section:nth-of-type(1){
        padding: 4rem 13rem;
    }

    .creativity-flexbox {
        align-items: center;
    }

    .functionality-flexbox {
        align-items: center;
    }

    /* the second section */
    .gallery section:nth-of-type(2){
        padding: 4rem 13rem;
    }

    /* the third section */
    .gallery section:nth-of-type(3){
        padding: 4rem 13rem;
    }

    /* the fourth section */
    .gallery section:nth-of-type(4){
        padding: 4rem 13rem;
    }

    .features-flexbox{
        width: 100%;
        justify-content: space-between;
    }

    .features-flexbox>img{
        margin: 0;
        width: 33%;
        /* max-height: 52rem; */
    }

    .features-img-container {
        width: 63%;
    }


    /* footer part */
    footer {
        padding: 4rem 13rem;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .logo-footer {
        width: 50%;
        max-width: 24rem;
        min-width: 24rem;
        margin-right: 2.5rem;
        justify-content: left;
    }

    .logo-footer h1 {
        width: 55%;
    }

    .logo-footer img {
        width: 30%;
    }

    footer section {
        width: 50%;
        gap: 1.5rem;
    }

    footer>p {
        margin-left: 9rem;
        margin-right: 9rem;
    }
}